body {
    overflow-x:hidden;
}
.form-container {
    margin-left: 40px;
    width: 30%;
}
.buttont {

      height:30px;
      width:50px;
      margin-top:20px;
      border:none;
      margin-left:20px;
      background-color:rgba(255,193,7);
      border-radius:10px;
      font-size:smaller;
      text-align:center;
}
.button-container {
    text-align:center;
}
.table-container {
      margin-left:100px;
}
table{
      margin-left:30px;
}
.tableh{
      cursor:pointer;
}
.tableheader {
      background-color:rgba(255,193,7);
}
